.container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.label {
  font-weight: bold;
  color: var(--color-foreground);
}

.input {
  width: 100%;
}

.valueDisplay {
  font-size: 14px;
  color: var(--color-muted-foreground);
  text-align: center;
}